@font-face {
  font-family: "Cursed";
  src: url("fonts/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

#count1 {
  font-family: Cursed;
  color: #f94f6d;
  background-color: black;
}

#count2 {
  font-family: Cursed;
  color: #f94f6d;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-counter {
  background-color: #1b244a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px 25px;
}

.guest-counter {
  background-color: #1b244a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px 25px;
}
